/* IMPORTS */
/*
 *@font-face {
  font-family: Interstellar;
  src: url("../font/001\ Interstellar\ Log\ Regular.ttf");
}
*/

/* COMMON */
* {
  margin: 0;
}

:root{
  --color-dark-background : #252422;
  --color-highlight : #ec7b10;
  --color-light-background :#e66916 ;
  --color-light-text : #fffcf2;
  --color-dark-text : #403d39;

}



html {
  background-color: var(--color-dark-background);
}

.formContainer {
  /* most containers */
  display        : flex;
 
  justify-content: space-evenly;
  align-content  : flex-start;
  align-items    : flex-start;
  flex-flow: column wrap;
}

/* FLEXBOX */

.wrapper {
  display       : flex;
  flex-direction: column;
  min-height    : 100vh;
}

.container {
  /* most containers */
  display        : flex;
  flex-direction : row;
  justify-content: space-evenly;
  align-content  : flex-start;
  align-items    : flex-start;
  flex-wrap      : wrap;
}

/* BODY */
body {
  padding: 0;
}

/* FOOTER */
footer {
  font-family     : "Noto Sans JP", sans-serif, "Helvetica", "Arial", "Courier";
  color           :var(--color-light-text);
  background-color:var(--color-light-background);
  display         : flex;
  align-content   : center;
  align-items     : center;
  justify-content : center;
}

/* HEADER */
header {
  padding        : 0;
  display        : flex;
  align-content  : center;
  align-items    : center;
  justify-content: flex-start;
  flex-wrap      : nowrap;
}

header .item {
  align-self: center;
  margin    : 1em;
}

header .emptySpace {
  flex-grow: 4;
}

header a img {
  /* icon in header */
  max-width : 100px;
  max-height: 100px;
  margin    : 0;
}

header a {
  font-family    : "Noto Sans JP", sans-serif, "Helvetica", "Arial", "Courier";
  text-decoration: none;
  color          :var(--color-light-text);
}

header a:hover {
  text-decoration: underline;
  color          :var(--color-highlight);
}

header .material-icons-outlined {
  display: none;
}

#home {
  /* title */
  font-family    : "Original Surfer", cursive, "Helvetica", "Arial", "Courier";
  font-size      : 2em;
  color          :var(--color-light-text);
  text-decoration: none;
  margin         : 1em 1em 1em 0;
}

#home:hover {
  color: var(--color-highlight);
}

/* NAV */
nav {
  margin         : 1em;
  padding        : 1em;
  border-radius  : 8px;
  color          : var(--color-dark-text);
  background     : var(--color-light-text);
  font-family    : "Noto Sans JP", sans-serif, "Helvetica", "Arial", "Courier";
  display        : flex;
  align-content  : center;
  align-items    : center;
  justify-content: flex-start;
  flex-wrap      : nowrap;
}

nav form {
  margin : 0.5em;
  padding: 0.5em;
}

nav .searchButton {
  font-style : oblique;
  font-weight: bold;
}

nav .searchButton:hover {
  color          : var(--color-highlight);
  text-decoration: underline;
}

nav .search {
  display: none;
}

/* MAIN */
main {
  margin         : 1em;
  border-radius  : 8px;
  color          : var(--color-dark-text);
  height         : 80%;
  flex-grow      : 1;
  padding        : 1em;
  display        : flex;
  flex-direction : row;
  justify-content: space-evenly;
  align-content  : flex-start;
  align-items    : flex-start;
  flex-wrap      : wrap;
}

main .activity {
  flex-basis   : 10em;
  border       : var(--color-dark-background) 3px solid;
  border-radius: 8px;
  padding      : 1em;
  margin       : 0.5em;
  background   : var(--color-light-text);
}

main .activity h1 {
  font-weight: bold;
  font-size  : 1em;
}


/* LINKS */
a {
  text-decoration: underline;
  color          : var(--color-light-background);
  font-family    : "Roboto Mono", monospace;
}

/* CLASSES */
.activity {
  font-family: "Noto Sans JP", sans-serif, "Helvetica", "Arial", "Courier";
}

.activity h1 {
  font-weight: bold;
}

.slider {
  /* snippet from https://www.w3schools.com/howto/howto_js_rangeslider.asp */
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance        : none;
  width             : 100%;
  /* Full-width */
  height            : 25px;
  /* Specified height */
  background        : var(--color-light-background);
  /* Grey background */
  outline           : none;
  /* Remove outline */
  opacity           : 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s;
  /* 0.2 seconds transition on hover */
  transition        : opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance        : none;
  width             : 25px;
  height            : 25px;
  border-radius     : 50%;
  border            : var(--color-dark-text) 1px solid;
  background        : var(--color-light-text);
  cursor            : pointer;
}

/* Extra large screens, TV */
@media screen and (min-width: 1201px) {}

/*
769 -> 1024px => small screens, laptop
1025 -> 1200px => desktops
*/

/* TABLETS */
@media screen and (max-width: 768px) {}

/* MOBILE PHONE */
@media screen and (max-width: 480px) {
  .item {
    flex-grow: 4;
  }

  /* HEADER */
  header {
    margin : 0;
    padding: 0;
  }

  header>* {
    margin: 0;
  }

  header .item {
    flex-grow: 1;
    margin   : 0;
  }

  header a {
    /* title */
    font-size: 1em;
  }

  header .material-icons-outlined {
    display: flex;
    color  : var(--color-light-text);
  }

  #home {
    display: none;
  }

  /* NAV */

  /* MAIN */
  main {
    padding: 0.25em;
    margin : 0.25em;
  }

  /* FOOTER */
}

/*
lightsalmon
aquamarine

font-family: 'Roboto Mono', monospace;

 * Floral White -> #FFFCF2
 * Pale Silver -> #CCC5B9
 * Black Olive -> #403D39
 * Eerie Black -> #252422
 * Flame -> #EB5E28
 */